# DuckDB database (reproducible)
data/lumenops.duckdb
data/lumenops.duckdb.wal

# dbt artifacts
lumenops/target/
lumenops/logs/
lumenops/dbt_packages/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Power BI temp files
*.pbix.tmp
